*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.Sort{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.Sort_title,.Sort_Latest,.Sort_selling{
    margin: 10px;
    cursor: pointer;
}
.Sort_title{
    color: #958f8f;
    cursor: pointer;
}
.Sort_Latest,.Sort_selling{
    border: 1px solid #958f8f;
    
}
.Sort_Latest h3,.Sort_selling h3{
    cursor: pointer;
    padding: 10px 20px;
}
.listproducts_title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.listproducts_main{
    width: 100%;
    margin-top: 20px;
} 