*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

.Cartdetall_body{
    width: 100%;
    
}
.Cartdetall_title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Cartdetall_form_main{
    margin-top: 50px;
}
.Cartdetall_form{
    margin-top: 20px;
    border-top: 0.5px solid black;
    
    margin-bottom: 20px;
}
.Cartdetall_form h2{
    margin-top: 20px;
}
.a{
    overflow:hidden
}
.Cartdetallbtn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.Cartdetallbtn button{
    background-color: #9C3737;
    color: white;
    padding:  10px 50px;
    font-size: 20px;
    border-radius: 30px ;
    border: none;
    cursor: pointer;
}
.Cartdetallbtn a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.Cartdetall2_body{
    width: 100%;
    
}
.Cartdetall2_title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Cartdetall2_form_main{
    margin-top: 50px;
}
.Cartdetall2_form{
    margin-top: 20px;
    border-top: 0.5px solid black;
    margin-bottom: 20px;
    cursor: pointer;
}
.Cartdetall2_form h2{
    margin-top: 20px;
}
.a{
    overflow:hidden
}
.Cartdetall2btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}
.Cartdetall2btn button{
    background-color: #9C3737;
    color: white;
    padding:  10px 50px;
    font-size: 20px;
    border-radius: 30px ;
    border: none;
    cursor: pointer;
}
.Cartdetall2btn a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.Cartdetall3_body{
    width: 100%;
    
}
.Cartdetall3_title{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.Cartdetall3_form_main{
    margin-top: 50px;
    border-bottom: 0.5px solid black;
    margin-bottom: 20px;
    cursor: pointer;
}
.Cartdetall3_form{
    margin-top: 20px;
    border-top: 0.5px solid black;
    
    margin-bottom: 20px;
    cursor: pointer;
}
.Cartdetall3_form h2{
    margin-top: 20px;
    cursor: pointer;
}
.a{
    overflow:hidden
}
.Cartdetall3btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}
.Cartdetall3btn button{
    background-color: #9C3737;
    color: white;
    padding:  10px 50px;
    font-size: 20px;
    border-radius: 30px ;
    border: none;
    cursor: pointer;
}
.Cartdetall3btn a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.bodernone{
    
    border: none;
}
.nav_Cartdetall3{
    overflow-y: scroll;
    margin-bottom: 20px;
}
::-webkit-scrollbar{
    width: 2px;
    background-color: white ;
  
  }
  ::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 20px;
  }
  .Cartdetall3_price{
    
    font-size: 25px;
    margin-bottom: 20px;
  }
  .Cartdetall3_price span{
    display: block;
    cursor: pointer;
  }
.cursor{
    cursor: pointer;
}



 