.product_cart{
    display: flex;
    margin-block: 10px;
    
    border-bottom: 0.5px solid gray;
  }
.product_cart .product_cart_img{
    width: 20%;
  }
  .product_cart .product_cart_img img{
    width: 100%;
    border-radius: 20px;
  }
  .modalContainer .body .product_cart_detall_title{
    display: flex;
    margin-bottom: 3px;
    align-items: center;
    letter-spacing: 0.1px;
    
  }
  .product_cart_detall_title>span{
    margin-left: 10px;
  }
  .product_cart .product_cart_detall{
    width: 70%;
    margin-left: 10px;
    font-size: 20px;
    
  }
  .oldprice{
    color: rgb(74, 72, 72);
    margin-inline:10px ;
  }
  .newprice{
    color: #E54343;
  }
  .quantityinput{
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    border: 3px solid  gray;
    border-radius: 20px;
    overflow: hidden;
    color: gray;
    margin-left: 10px;
  }
  .quantityinput button{
    background-color: white;
    border: none;
    padding: 2px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
  }
  .product_cart_remove{
    width: 10%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .product_cart_remove .iconremove{
    font-size: 30px;
    color: red;
  }
