*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.main{
  width: 100%;
  height: 100%;
}  
.sidebar{
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
}
.sidebar_logo{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_sldebar_logo img{
  width: 100%;
}
.sidebar_extra{
  width: 100%;
  height: 78px;

}
.container_sldebar_extra{
  position: relative;
  top: auto;
  right: auto;
  
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  
  
}
.container_sldebar_extra a{
  
  color: black;
  margin-inline:10px ;
  height: 100%;
  line-height: 80px;  
  
}
.container_sldebar_extra a li svg{
  cursor: pointer;
}
.container_sldebar_extra a li svg:hover{
  color: #78cccd;
}
.container_sldebar_extra .cart_a div{
  position: relative;
  top: -19px;
  left: -10px;
  background-color: orangered;
  display: inline;
  padding: 3px 10px;
  border-radius: 50%;
  color: white;
}
.container_sldebar_extra li,li{
  list-style: none;
  
}
.sidebar nav{
  height: 340px;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  width: 2px;
  background-color: white ;

}
::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 10px;
}
.sidebar nav{
  margin-top: 25px;
}
.sidebar nav .menu_item,.sidebarmb-menu_item{
  display: block;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-weight: italic;
}

.menu_item a,.sidebarmb-menu_item a{
  display: block;
  text-decoration: none;
  color: black;
  padding: 22px 10px;
}
.menu_item a:hover,.sidebarmb-menu_item a:hover{
  background: rgb(237, 234, 234);
  color: #78cccd;
}
.sidebar_footer{
  margin-top: 20px;
}
.sidebar_footer{
  width: 100%;
  display: block;
  
}
.box_hotline{
  width: 100%;
  height: 55px;
  background: black;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
}
.container_hotline{
  width: 100%;
  height: 100%;
  line-height: 55px;
  
}
.container_hotline img{
  float: left;
  margin: 5px;
  margin-left: 35px;
}
.container_hotline span{
  float: left;
  font-size: 17px;
  color: white;
  margin-left: 20px;
  
}
.box_hotline1{
  width: 257px;
  margin: auto;
  margin-top: 20px;
}
.container_hotline1{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content{
  margin-left: 20%;
  width: 80%;
  
}
.container_hotline1 a img:hover{
  opacity: 0.5;
}
.sidebarmb{
  display: none;
  
}
.sidebarmb .sidebarmb-outside{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebarmb .sidebarmb-logo {
  width: 30%;
}
.sidebarmb .sidebarmb-logo img{
  width: 100%;
  height: 70px;
}
.sidebarmb-btn svg{
  font-size: 30px;
  margin: 10px;
}
.sidebarmb-extra .sidebarmb-extra-cart svg{
  margin: 10px;
}
.sidebarmb-extra .sidebarmb-extra-cart div{
  position: relative;
  top: -28px;
  left: -20px;
  background-color: orangered;
  display: inline;
  padding: 3px 10px;
  border-radius: 50%;
  color: white;
}
.sidebarmb-nav__overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: none;
  animation: fadeIn linear 0.2s;
}
.nav_mb{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  max-width: 100%;
  background-color: #fff;
  z-index: 100;
  transition: transform linear 0.2s,opacity linear 0.2s;
  opacity: 0;
  transform: translateX(-100%);
}
.nav_mb-list{
  
 overflow-y: scroll;
}
.nav_mb .nav_mb-list a{
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 1rem;
  padding-block: 20px;
}
.nav_mb-close{
  width: 28px;
  height: 28px;
  color: #666;
  position: absolute;
  top: 0.4rem;
  right: 1rem;
}
.nav_mb-close svg{
  width: 28px;
  height: 28px;
}
.container_nav_mb_logo{
  text-align: center;
}
.container_nav_mb_logo img{
  width: 50%;
  height: 150px;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
