* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.detail {
    width: 100%;

}

.product_detall_container{
    width: 100%;
    display: flex;
    
    
}
.product_detall_container .product_img{
    width: 33.3333%;
    height: 500px;
    margin-left: 20px;
    
}
.product_detall{
    width: 66.6666%;
}
.product_img .product_img_container{
    width: 100%;
}
.product_img_container img{
    width: 340px;
    height: 480px;
    cursor: pointer;
}
.product_detall .product_detall_main{
    padding-left: 10px;
}
.product_detall .product_detall_main>p{
    font-size: 32px;
}
.product_detall .product_detall_main .price{
    margin-top: 40px;
    width: 50%;
    height: 60px;
    background-color: rgb(237, 236, 236);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product_detall .product_detall_main .price>p{
    font-size: 20px;
    color: #d3bfbf;
}
.product_detall .product_detall_main .price p>del{
    font-size: 15px;
    color: rgb(74, 72, 72);
}
.product_detall .product_detall_main .price .discount{
    width: 80px;
    height: 30px;
    background-color: #E54343;
    color: aliceblue;
    text-align: center;
}
.size,.color{
    margin-top: 10px;
    
}
.size_container,.color_container{
    margin-top: 10px;
    width: 40%;
    display: flex;
    cursor: pointer;
    
    
}
.size_container a,.color_container a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 30px;
    border: 0.5px solid black;
    margin-right: 10px;
    background-color: none;
    
}
.btnsize{
    margin-top: 10px;
    width: 40%;
    padding: 10px;
    background-color: black;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.amount{
    margin-top: 30px;
    display: flex;
}
.amount h4{
    margin-right: 10px;
}

.btn_cart_buy{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 10px;
}
.btn_cart_buy a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    width: 40%;
}
.btn_cart_buy .btncart{
    color: #FA5959;
    border: 0.5px solid  #FA5959;
}
.btn_cart_buy .btnbuy{
    color: black;
    border: 0.5px solid  black;
}
.product_detall ul{
    margin-top: 10px;
}
.product_detall li{
    margin-top: 20px;
}
.product_detall li span{
    vertical-align: middle;
}
.product_detall li img{
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.description{
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.description p{
    font-size: 20px;
}
.grid_item{
    padding-left: 0;
    margin-left: 0;
}
.related-section-header{
    width: 100%;
    text-align: center;
}
.related-section-header_title{
    position: relative;
    text-align: left;
}
.related-section-header_text{
    position: relative;
    background: #fff;
    padding: 0 15px;
    color: #000;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
}
.related-section-header_title::after{
    background: #e9ebee;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 17px;
    width: 100%;
    z-index: -1;
}
.canclesizebtn{
    color: rgb(237, 228, 228);
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #E54343;
}



